.navbar-custom{
    background-color: #ffffff;
    
    box-shadow: 5px 3px 3px #343c404f;
}
.logo-box {
    background-color: #ffffff;
}
.navbar-custom .button-menu-mobile {
    color: #2e2d2d;
}
.left-side-menu{
    background: #f5f6f8;
}
.page-title-box {
    background-color: #f5f6f8;}
.footer {
        background-color: #f5f6f8;}